.button {
	color: #4d4d4d;
	background-color: white; 
    padding: 15px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;

    &--primary {
		color: #fff;
        background-color: $accent;
    }

    &--disabled {
		color: #fff;
        background: #a9a9a9;
        cursor: default;
    }

	&--inline {
		display: inline-block;
	}

    &--small {
        padding: 5px 15px;
        font-size: smaller;
    }
}
