@import 'mixins.scss';

.quiz-result {

    @include break(1000) {
        flex-direction: column;
    }
}

.tribox-container {
    margin: 85px auto 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 8px #888;
    padding: 0 25px;


    h1 {
        text-align: center;
        margin: 20px 0 40px 0;

        &.time {
            font-weight: normal;
        }
    }

    .highscores {
        .highscore {
            width: 300px;
            padding: 15px 20px;
            background: #f4f4f4;
            display: flex;
            justify-content: space-between;

            &:nth-child(even) {
                background: #e3e3e3;
            }

            &.highlighted {
                background: $accent;
                color: #fff;
            }
        }
    }

    .donut-chart  {
        display: flex;

        span {
            color: #333;
            position: absolute;
            z-index: 2;
            width: 100%;
            top: 50%;
            text-align: center;
        }
    }
}
