.quizview-container {
    margin: 85px;
}

.quizview-table {
    width: 100%;
    margin: auto;
    background: white;
    border-collapse: collapse;

    th {
        padding: 10px;
        text-align: left;
    }

    a {
        color: $dark-grey;
        text-decoration: none;
        -webkit-transition: color 0.3s;
        -o-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;

        &:hover {
            color: $accent;
        }
    }

    tr, td {
        color: $dark-grey;
        padding: 10px;
    }

    tr {
        -webkit-transition: background 0.3s;
        -o-transition: background 0.3s;
        -moz-transition: background 0.3s;
        transition: background 0.3s;

        &:nth-child(even) {
            background: #f1f1f1;

            &:hover {
                background: darken(#f1f1f1, 2%);
            }
        }

        &:nth-child(odd) {
            background: #fff;

            &:hover {
                background: darken(#fff, 2%);
            }
        }

        &:first-of-type {
            &:hover {
                background: #fff;
            }
        }
    }

    /* tr:not(:first-child):hover {*/
    /*     background-color: #f6ad65;*/
    /* }*/
}
